
body {
    background: #e3f2fd
  }
  
  svg {
    font-family: 'Russo One', sans-serif;
    margin-top:150px;
    margin-left:-225px;
    width: 150%;
  }
  svg text {
    text-transform: uppercase;
    animation: stroke 2s;
    stroke-width: 3;
    stroke: rgba(54,95,160,1);
    font-size: 140px;
    fill:#e3f2fd

  }
  @keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
    }
    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }
    100% {
        fill: #e3f2fd;
        stroke: rgba(54, 95, 160, 1); 
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 3; 
    }
}
.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 10px; /* Adjust vertical position of the arrow */
    left: 50%; /* Centering the arrow */
    transform: translateX(-50%) rotateZ(45deg); /* Centering and rotating the arrow */
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
  }
  
  @keyframes jumpInfinite {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
  .nav-item a {
    font-family: 'Russo One', sans-serif;
    color: #303030;
    padding-left:25px;

  }
.nav-link{
  font-family: 'Russo One', sans-serif;
}
  