
body {
    background: #e3f2fd
  }
  
  svg {
    font-family: 'Russo One', sans-serif;
    margin-top: 150px;
    width: 100%;
  }
  svg text {
    text-transform: uppercase;
    animation: stroke 2s;
    stroke-width: 3;
    stroke: rgba(54,95,160,1);
    font-size: 140px;
    fill:#e3f2fd

  }
  @keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
    }
    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }
    100% {
        fill: #e3f2fd;
        stroke: rgba(54, 95, 160, 1); 
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 3; 
    }
}
.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%) rotateZ(45deg); 
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
  }
  
  .nav-item a {
    font-family: 'Russo One', sans-serif;
    color: #303030;
    padding-left:25px;

  }
.nav-link{
  font-family: 'Russo One', sans-serif;
}
@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.subheader p {
  animation: fade 7s;
}

@keyframes jumpInfinite {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
.form-container {
  text-align: center;
  margin-top: 500px;
  margin-bottom: 300px;
}

form {
  margin-top: 20px;
}

.form-container h1 {
  font-family: 'Russo One', sans-serif;
  color: transparent; 
  -webkit-text-stroke: 2px rgba(54, 95, 160, 1); 
}
.custom-select {
  width: 200px;
}