{% extends 'layout.html' %}
{% set active_page = request.path[1:] %}
{% block title %}Home - SkinCare.io{% endblock %}
{% block content %} 

<svg viewBox="0 0 1320 300">
  <text x="50%" y="50%" dy=".35em" text-anchor="middle">
    SkinCare.io
  </text>
</svg>  
<div class="subheader"><p class="text-center">Find Your Best SkinCare Routine</p></div>
<div class="down-arrow"></div>
<div class="form-container">
  <h1>Find the best product for you</h1>
  <form actions="/home"method="post" >
    <select class="custom-select" name="product_type">
      <option selected>Product Type</option>
      <option value="Cleanser">Cleanser</option>
      <option value="Moisturizer">Moisturizer</option>
      <option value="Toner">Toner</option>
      <option value="Serum">Serum</option>
    </select>
    <select class="custom-select" name="skin_type">
      <option selected>Skin Type</option>
      <option value="Dry">Dry</option>
      <option value="Normal">Normal</option>
      <option value="Sensitive">Sensitive</option>
      <option value="Combination">Combination</option>
      <option value="Oily">Oily</option>
      <option value="Acne-Prone">Acne-Prone</option>
    </select>
    <button type="submit" class="btn btn-light">Submit</button>
  </form>
</div>
{% endblock %}