{% extends 'layout.html' %}
{% set active_page = request.path[1:] %}
{% block title %}List - SkinCare.io{% endblock %}

{% block content %}
    <h1>List of Products</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Product Type</th>
                <th>Skin Type</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row['product_type'] }}</td>
                <td>{{ row['skin_type'] }}</td>
                <td>{{ row['brand'] }}</td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['price'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}